<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinity ScrapeAI</title>
    <link rel="stylesheet" href="C:\Users\Infinity AI Systems\Documents\Projects\Inifinity ScrapeAI\static\style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    <!-- <img src="img.jpg" alt="background for page"> -->
    <div class="wrapper">
        <h1>Welcome to Inifinity ScrapeAI</h1>
        <p>An AI tool to scrape any complete website within seconds</p>
        <input type="text" placeholder="Enter your website URL">
        <button class="btn1" type="submit">Submit</button>
        <button class="btn2" type="button">Download</button>
    </div>
</body>
</html>